# Ignore Python virtual environment directories
venv/
.venv/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore compiled Python files
*.pyc

# Ignore environment-specific files
.env

# Ignore db config file
dbconfig.ini